* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ----------------------------------------------main header------------------------------------------------ */
.main {
  width: 100%;
  height: 100vh;
  background-image: url(../images/front-page-header.jpg);
  background-position: center;
  background-size: cover;
}
.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 30px;
}
.header i {
  display: none;
  color: aliceblue;
  font-size: 20px;
}
.header .logo {
  width: 130px;
  height: 60px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.header .navbar ul {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding-top: 10px;
}
.header .navbar ul li a {
  font-size: 18px;
  color: white;
  font-weight: 400;
  text-decoration: none;
}

/* ----------------------------------------------hero section------------------------------------------------ */

.hero-section {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  gap: 20px;
}
.hero-section h1 {
  font-size: 70px;
}
.hero-section h1 span {
  color: yellow;
}
.hero-section p {
  width: 55%;
  font-size: 16px;
  line-height: 30px;
}
.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.button button {
  border-radius: 10px;
  padding: 15px 40px;
  cursor: pointer;
  font-size: 18px;
}
.button .btn1 {
  background-color: rgba(93, 89, 89, 0.429);
  border: 1px solid white;
  color: white;
}
.button .btn2 {
  background-color: rgba(255, 255, 0, 0.712);
  color: white;
  border: 1px solid rgba(255, 255, 0, 0.712);
}
.button .btn2:hover{
  background-color: #7138ad8f;
  border: #7138ad;
  transition: all 0.3s ease-in-out; 
}
.button .btn1:hover{
  background-color: #817c7c41;
}



/* ------------------------------------------------------About--------------------------------- */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about h1 {
  font-size: 40px;
  padding: 10px;
  padding: 20px 60px;
}
.about p {
  width: 80%;
  padding-bottom: 20px;
}
/* ----------------------------------------------------Design Lines With Percentage---------------------------- */
.square {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.square .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 150px;
}
.bar {
  width: 100%;
  height: 1px;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.bar-line {
  width: 60%;
  height: 3px;
  background-color: rgb(70, 227, 8);
}
.bar-circle {
  width: 10px;
  height: 10px;
  background-color: rgb(187, 21, 216);
  border-radius: 50%;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding: 10px 30px;
}
.content h1 {
  font-size: 30px;
}
/* -----------------------------------------Pseudo class------------------------------------------------ */
.bar::after {
  content: "60%";
  background-color: aqua;
  padding: 7px 15px;
  border-radius: 10px;
  position: absolute;
  left: 55%;
  bottom: 15px;
}

.design .bar::after {
    content: "80%";
  left: 65%;
  background-color: aqua;
}

.design .bar-line {
   
  width: 70%;
  background-color: rgb(70, 227, 8);
}
.design .bar-circle {
  background-color: rgb(187, 21, 216);
}

.development .bar::after {
    content: "86%";
  left: 75%;
  background-color: aqua;
}
.development .bar-line {
  width: 86%;
  background-color: rgb(70, 227, 8);
}
.development .bar-circle {
  background-color: rgb(187, 21, 216);
}

/* ------------------------------------------Projects-------------------------------------------------- */
.project{
    width: 100%;
    background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;

}
.project h2{
font-size: 40px;
font-weight: 900;
padding-top: 50px;
}

.project .images{
width: 100%;
height: 300px;
cursor: pointer;
  display: flex;

}

.project .images .img{
  width: 400px;
}

.project .images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------------------------------------------------Testimonials------------------------------------------- */
.testimonials{
  padding-top: 30px;
  padding-bottom: 20px;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
background-color: #7b599c;
background: 
    linear-gradient(to top, rgba(123, 89, 156, 0.667), rgba(123, 89, 156, 0.749)),
    url('../images/luba-ertel-Y-VCh-XXWf0-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.testimonials h1{
  font-size: 35px;
    line-height: 38px;
    font-weight: 700;
    font-family: "Poppins";
    color: white;
}

.paragraph{

width: 80%;
background-color: #3c2752;
margin-bottom: 48px;
padding: 50px 35px 25px;
position: relative;
text-align: center;
position: relative;
}

.paragraph::after{
  content: '';
  position: absolute;
  left: 48%;
  bottom: -15px;
  width: 30px;
  height: 30px;
  background-color: #3c2752;
  /* background-color: red; */
  transform: rotate(45deg);
}

.paragraph p{
  line-height: 26px;
  margin: 0;
  padding: 0;
  border-left: none;
  color: #fff;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
}

.testimonials .image img{
  border-radius: 50%;
}


.testimonial-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}


.testimonial-content h2{
  color: white;
}

.testimonial-content .icons{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 13px;
}
.services{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding: 40px 80px;
}
.services h1{
  font-size: 35px;
  padding-bottom: 20px;
  }
.services p{
  padding-bottom: 20px;
}
.rectangle{
  display: flex;
  text-align: center;
  gap: 40px;
}
.rectangle h2{
  font-size: 25px;
  padding: 50px 30px;
}
.rectangle1 h2{
  color: rgb(253, 154, 5);
}
.rectangle2 h2{
  color: rgba(178, 178, 45, 0.89);
}
.rectangle3 h2{
  color: purple;
}

/* -----------------------------------------latest news------------------------------------------------ */

.latest-news{
width: 100%;
/* height: 120vh; */
background-color: antiquewhite;
justify-content: center;
align-items: center;
text-align: center;
padding: 30px;
flex-wrap: wrap;
}
.latest-news h1{
font-size: 35px;
}
.latest-news p{
  font-size: 17px;
  padding: 30px;

}
.latest-news button{
  background-color: rgba(196, 196, 74, 0.756);
  color: white;
  font-size: 20px;
  border-color: white;
  border-radius: 10px;
  padding: 10px;
  }

.news{
  display: flex;
align-items: center;
  gap: 30px;
  padding-top: 20px;
}
.news h2{
  font-size: 30px;
  padding: 20px 20px;
}

.news p{
font-size: 20px;
line-height: 30px;
padding: 20px;
margin-bottom: 20px;
}
.news a{
color: rgb(117, 117, 23);


}

.first{
  background-color: white;
}
.first img{
width: 100%;
}

/* ---------------------------------------------------yellow page----------------------------------------- */
.yellow{
height: 100px;
align-items: center;
display: flex;
justify-content: space-evenly;
background-image: url(../images/front-page-counter.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.main-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.main-lineone{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 3px;
  height: 60px;
}
.bar-one{
  
  width: 100%;
  height: 100%;
  background-color: rgb(245, 238, 238);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
/* margin-left: 400px; */
}
/* ...........................................Team........................................ */

.team{
width: 100%;
/* height: 90vh; */
/* background-color:transparent; */
padding: 30px;
justify-content: center;
align-items: center;
text-align: center;
flex-wrap: wrap;
background-image: url(../images/abstract-background-template-for-your-ideas-monochromatic-lines-texture-waved-lines-texture-free-vector.jpg);
background-size: cover;
background-position: center;
}
.team h1{
  margin-top: 20px;
font-size: 35px;
padding-bottom: 10px;
}
.team p{
padding-bottom: 20px;
}
.outside{
display: flex;
/* flex-direction: column; */
justify-content: center;
align-items: center;
}
.outside img{
  display: flex;justify-content: center;
  align-items: center;
border-radius: 50%;
}
.inside{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: start;
}
.inside h2{
margin-top: 20px;
margin-bottom: 10px;
}
.inside p{
  width: 80%;
  margin-top: 15px;
  }
.color1 h3{
color: red;
}
.color2 h3{
color: rgba(133, 133, 19, 0.717)
}
.color3 h3{
color: #7138ad;
}
/* ----------------------------------------contact us--------------------------------- */
.contact-us{
width: 100%;
/* height: 100vh; */
display: flex;
flex-direction: column;
padding: 20px;
gap: 30px;
/* overflow: hidden; */
}
.contact-us h1{
text-align: center;
font-size: 35px;
padding: 30px 0px;
color: #545454;
}
.address{
display: flex;
justify-content: space-around;
/* flex-wrap: wrap; */
gap: 30px;
}

.address1{
  max-width: 400px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.address p{
  flex: 1;
  }



.contact-us form{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 0 50px;
}
.contact-us form .form-data{
  display: flex;
  /* justify-content: center; */
align-items: center;
gap: 40px;
width: 100%;
}
form .form-content, .form-data .form-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-data .form-content{
  width: calc(100% / 3);
}
.form-content label{
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Lato";
  color: #abb8c3;
  color: #5b5d5e;
}
.form-content input{ 
  background-color: #fcfcfc;
    padding: 10px 20px;
    border: 1px solid #e1e1e1;  
    outline: 0;
    font-family: "Lato", sans-serif;
    font-size: 11px; 
    color: #8c9597;
    display: block;
    font-weight: 400;
    line-height: 25px;
    border-radius: 6px;
}
.form-content textarea{
  width: 100%;
  height: 200px;
  padding: 20px;
  outline: none;
  background-color: #fcfcfc;
    padding: 10px 20px;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
}
form .button {
    justify-content: flex-end;
}
.button button{
background-color: rgb(229, 229, 90);
color: #fcfcfc;
border: #fcfcfc;
}
.footer{
display: flex;
justify-content: flex-start;
background-color: #414141;
padding:20px  40px;
gap: 60px;
color: #fff;
flex-wrap: wrap;
}
.footer .head h1{
  padding-bottom: 20px;
}
.footer .head ul li{
list-style: none;
}
.footer .head ul li a{
text-decoration: none;
padding-right: 20px;  
font-size: 20PX;
font-weight: 900;
color: #050404;
}
.last{
padding: 30px;
text-align: center;
font-size: 20px;
background-color: rgb(53, 53, 53);
color: #fff;
}
/* ---------------------------------------------------RESPONSIVENESS---------------------------- */
@media (max-width: 950px) {
  .header .navbar {
    display: none;
  }
  .header i {
    display: block;
  }
  .hero-section h1 {
    font-size: 60px;
    color: white;
  }
  .hero-section p {
    width: 95%;
    font-size: 15px;
    color: white;
  }

  .square {
    padding: 0 40px;
  }

  .square .box {
    width: 100%;
    height: 150px;
  }
  .services .rectangle{
    flex-wrap: wrap;
  }
}


@media (max-width: 750px) {
  .hero-section {
    gap: 20px;
  }

  .hero-section h1 {
    font-size: 40px;
    color: white;
    justify-content: center;
    align-items: center;
  }

  .hero-section .button button {
    padding: 10px 25px;
    border-radius: 7px;
    font-size: 13px;
  }
  .about h1 {
    font-size: 30px;
  }
  .about p {
    font-size: 15px;
  }

  .project .images{
      flex-wrap: wrap;
      height: fit-content;
    }
    .project .images .img{
      width: 50%;
    }
    .news{
      flex-wrap: wrap;
  }
   .team .outside{
      flex-wrap: wrap;


   }

   .address{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   }

   .contact-us form{
    padding: 0 0px;
   }

   .contact-us form .form-textarea{
      width: 95vw;
      /* border: 1px solid red; */
   }

   .contact-us form .form-data,
   .contact-us form .form-data .form-content{
      width: 100%;
      flex-direction: column;
   }

}

@media (max-width: 445px) {
  .hero-section {
    padding: 0 5px 10px 5px;
  }

  .hero-section h1 {
    font-size: 30px;
  }
  .hero-section p {
    font-size: 14px;
    line-height: 20px;
  }

  .hero-section .button {
    flex-direction: column;
  }
  .address1{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   }

}
